.paletteSegment {
    background-color: #BECFB4;
    margin: 0 400px;
    border-radius: 50px;
}

.pickr {
    top: -130px;
}

.pcr-app {
    background-color: rgb(1, 1, 1, 0) !important;
    position: relative !important;
    box-shadow: none !important;
}

.colorPicker {
    background-color: #BECFB4 !important;
}

.colorPickerCell {
    justify-content: flex-start;
    align-items: center;
    height: 250px;
}

table {
    width: 100%;
}
